flask==3.0.3
waitress==3.0.0
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.8.2
cryptography==42.0.8
numpy==1.26.4
opencv-python==4.10.0.84
insightface==0.7.3
scikit-image==0.22.0
onnxruntime-gpu==1.19.2
tzdata==2024.1
PyJWT>=2.8.0